.tweet-action-button-react{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tweet-action-button-react:hover .svg-like{
    background: rgba(234, 155, 155, 0.306);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    stroke: red;
}
.svg-like{
    padding: 7px;
    justify-content: center;
    align-items: center;
}
.tweet-action-button-react:hover .svg-like svg path{
    stroke: red;
}
.tweet-action-button-react:hover {
    color: red;
    cursor: pointer;
}


.svg-likes svg path{
    fill: none;
    stroke: gray;
}
.svg-comment:hover{
    fill: blue;
    stroke: blue;
    color: blue;
}
.svg-retweet:hover{
    fill: green;
    stroke: green;
    color: green;
    cursor: pointer;
}
